{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        <li>
                <a href="{% url 'home' %}">Main page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'create_receipt' %}">Create receipt</a>
                <a href="{% url 'category_list' %}">Categories</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'account_list' %}">Accounts</a>
                <a href="{% url 'create_account' %}">Create account</a>
                Hello, {{ user.username }}
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </li>
    </nav>
</header>
<main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
      </thead>
      <tbody>
        {% for receipt in receipts %}
          <tr>
            <td>{{ receipt.vendor }}</td>
            <td>{{ receipt.total }}</td>
            <td>{{ receipt.tax }}</td>
            <td>{{ receipt.date|date:"n/j/y" }}</td>
            <td>{{ receipt.category.name }}</td>
            <td>{{ receipt.account.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
